{% extends "base.html" %}
{% load static %}

{% block title %}ورود{% endblock%}

{% block head %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content%}
<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 mb-5 row">
                <div class="card col-12">
                    <div class="card-body">
                        <form id="registrationForm" method="post" action="" class="d-flex flex-column gap-3" dir="rtl">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="personnel-code" class="mb-1">
                                    کد پرسنلی
                                </label>
                                <input name="personnel_code" class="form-control" id="personnel-code" placeholder="کد پرسنلی را وارد کنید ..." required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="mb-1">
                                    رمز عبور
                                </label>
                                <input name="password" type="password" class="form-control" id="password" placeholder="رمز عبور را وارد کنید ..." required />
                            </div>
                            <div class="row mb-2">
                                <div class="input-group col-4" dir="ltr">
                                    {{ captcha_form.captcha }}
                                    <button type="button" class="btn btn-outline-secondary" id="captcha-refresh" data-url="{{refresh_url}}" onclick="refreshCaptcha()">
                                        <i class="bi bi-arrow-counterclockwise"></i>
                                    </button>
                                </div>
                                {% if captcha_form.captcha.errors %}
                                <div class="invalid-feedback d-block col-12">
                                    {{ captcha_form.captcha.errors }}
                                </div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary center text-light">
                                ورود
                            </button>
                        </form>
                    </div>
                </div>
                <a href="{% url 'oidc_authentication_init' %}" class="btn btn-outline-info mt-4 col-12">
                    ورود با احراز هویت در سامانه مرکزی
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/login.js" %}"></script>
{% endblock %}
