{% extends "base_nav.html" %}
{% load static %}
{% block title %}جزئیات و پرداخت{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static "css/see_price.css" %}">
{% endblock %}
{% block dashboard_content %}
    <div class="page-b row">
        <div class="col-4">
            <p>افراد انتخاب شده:</p>
            <ul class="list-group">
                {% for member in object.covered_members.all %}
                    <li class="list-group-item">{{member.first_name}} {{member.last_name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group col-4">
            <label class="mb-3" for="offer">نوع بیمه:</label>
            <input type="text" value="{{object.offer}}" class="form-control" readonly>
        </div>
        <div class="col-4">
            <label class="mb-3" for="price">هزینه بیمه:</label>
            <input type="text" value="{{object.total_cost}}" class="form-control" readonly>
        </div>
    </div>
{% endblock dashboard_content %}
{% block scripts %}
<script src="{% static "js/see_price.js" %}"></script>
{% endblock %}
