{% if messages %}
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
        {% for message in messages %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" >
                <div class="toast-header {% if message.tags == 'error' %}bg-danger text-white{% elif message.tags == 'success' %}bg-success text-white{% elif message.tags == 'warning' %}bg-warning{% endif %}">
                    <i class="bi {% if message.tags == 'error' %}bi-exclamation-circle{% elif message.tags == 'success' %}bi-check-circle{% elif message.tags == 'warning' %}bi-exclamation-triangle{% else %}bi-info-circle{% endif %} me-2"></i>
                    <strong class="me-auto">
                        {% if message.tags == 'error' %}خطا
                        {% elif message.tags == 'success' %}موفقیت
                        {% elif message.tags == 'warning' %}هشدار
                        {% else %}اطلاعیه
                        {% endif %}
                    </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" dir="rtl">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
