body {
    font-family: 'Vazirmatn', sans-serif;
}

.main-content {
    max-height: 80vh;
    overflow-y: auto;
}

.accordion-button-icon {
    flex-direction: row-reverse;
    justify-content: start;
}

.accordion-button-icon::after {
    margin-right: 0;
    margin-left: 0.5rem;
}

.page {
    margin: 0 75px;
}

.page-b {
    margin: 0 200px;
}

.center {
    margin: 0 auto;
}
