body {
    font-family: 'Vazirmatn', sans-serif;
}

.main-content {
    max-height: 80vh;
    overflow-y: scroll;
}

.page {
    margin: 0 75px;
}

.page-b {
    margin: 0 200px;
}

.center {
    margin: 0 auto;
}
